@import '00-config/__config.scss';
@import '01-partials/__partials.scss';



html {
  box-sizing: border-box;
  height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  height: 100%;
  font-family: $source-sans;
  font-weight: $font-regular;
}
 a {
   color: $color-booz-primary;
 }
